
html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	scroll-behavior: smooth;

}
body {
	/* min-width: 1024px; */
	overflow-x: hidden;
	color: white;
	letter-spacing: -0.05em;
	background: #171717;
	height: 10000px;
}
body.before-load {
    overflow: hidden;
}
a {
	color: white;
	text-decoration: none;
}
/* header css */
header{
	position: fixed;
	width: 100%;
	top: 15px;
	z-index: 10;
}
header .global-nav{
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	font-size: 35px;
	font-weight: 900;
}
.nav ul {
	display: flex;
}
.nav ul > li {
	margin-left: 7vw;
}

/* loading */
.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: white;
	opacity: 0;
	transition: 0.5s;
}
.before-load .container {
    display: none;
}
.before-load .loading {
	opacity: 1;
}
@keyframes loading-spin {
	100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
	0% { stroke-dashoffset: 157; }
	75% { stroke-dashoffset: -147; }
	100% { stroke-dashoffset: -157; }
}
.loading-circle {
	width: 54px;
	height: 54px;
	animation: loading-spin 3s infinite;
}
.loading-circle circle {
	stroke: black;
	stroke-width: 4;
	/* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
	stroke-dasharray: 157, 157;
	stroke-dashoffset: 0;
	fill: transparent;
	animation: loading-circle-ani 1s infinite;
	/* transition: 1s; */
}


/* section1 */

.section1-wrap{
	position: fixed;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}
.section1-wrap > h1{
	font-size: 7vw;
	white-space: nowrap;
}
.section1-wrap > p {
	margin-top: 50px;
}
.section1 > p {
	position: fixed;
	left: 0;
	bottom: 10px;
}
.introImage-wrap > div{
	width: 332px;
	height: 418px;
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	/* display: none; */
}
.introImage-wrap .sec1-image1{
	top: 10%;
	right: 8%;
	/* transform: translate(50%,-50%); */
	z-index: 3;
	background-image: url('../img/movieImage.png');	
}
.introImage-wrap .sec1-image2{
	background-image: url('../img/image47.png');	
	top: 38%;
	right: 0;
	z-index: 4;

}
.introImage-wrap .sec1-image3{
	background-image: url('../img/image44.png');	
	right: 20%;
    top: 20%;
	z-index: 2;
}
.introImage-wrap .sec1-image4{
	background-image: url('../img/image45.png');	
	right: 13%;
    top: 48%;
    z-index: 3;
	
}
.iphoneImage-sticky{
	margin-top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.iphone-content{
	overflow: hidden;
	position: relative;
	display: flex;
}
.iphone-content .iphone-mock{
	z-index: 5;
}
.iphone-content > .iphone-inner-content{
	position: absolute;
	z-index: 4;
	top: 100%;
}
.intro{
	width: 100%;
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	opacity: 1;
	z-index: 8;
	
}

.intro-wrap{
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transition: all 2s;
}
.intro-wrap > h1 {
	font-size: 5vw;
}
.intro-wrap .intro-dec > p{
	margin-top: 30px;
}
.intro-wrap.intro-show{
	opacity: 1;
}
.intro-wrap .intro-dec{
	width: 20%;
	margin-right: 4rem;
}
.intro-wrap .intro-dec > h3{
	font-size: 1.5rem;
}
.intro-wrap .intro-dec  p {
	line-height: 23px;
}
.intro-dec span{
	background-color: rgb(109, 39, 39);
}


.project-img{
	position: absolute;
}
.about_me{
	position: absolute;
	top: 100%;
	z-index: 4;
}



/* section 2 */
.section2 {
	background-color: #000;
	margin-top: 2rem;
}

.btn-box{
	margin-top: 40px;
}
.btn-box span { 
	margin-right: 3rem;
}
.btn-box a {
	color: white;
    text-decoration: none;
    margin-right: 16px;
    position: absolute;
	right: 0;
    padding: 0.5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
	z-index: 1;
}
.btn-box a::before{
	content: '';
    position: absolute;
    width: 0%;
    height: calc(100% - 1rem);
    background-color: #efefef;
    transition: all .3s ease-in-out;
    z-index: -1;
    left: 0;
}
i {
	margin-left: 10px;
}

.btn-box a:hover::before{
	width: 100%;
}
.btn-box a:hover{
	color: black;
}

.section2 .sec2-sticky{
	position: sticky;
	top:0%;
	z-index: 99;
}
.section2-wrap {
	display: flex;
    justify-content: center;
    position: relative;
}
.section2-wrap .sec2-main-tit{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
}
.section2-wrap .sec2-main-tit *{
	margin-bottom: 10px;
}
.section2-wrap .sec2-main-tit h3{
	font-size: 1.5vw;
	color: #A1A1A1;
	opacity: 0;
}
.section2-wrap .sec2-main-tit h1{
	font-size: 2.5vw;
	opacity: 0;
}
.section2-wrap .react-box{
	position: absolute;
	left: 5%;
	top:35vh;
	display: flex;
	flex-direction: column;
	width: 25%;
	opacity: 0;
	transition: all 2s;
	line-height: 23px ;
}
.section2-wrap .react-box.reactshow{
	opacity: 1;
	top: 30vh;
}
.react-box > h2{
	text-align: center;
    margin-bottom: 30px;
    font-size: 2vw;
	position: relative;
}
.react-box > h2::after{
	content: '';
	position: absolute;
	width: 20%;
	top: 50%;
	left:90%;
	border-top: solid 2px white;
}


.section2-wrap .vue-box{
	position: absolute;
	right: 5%;
	top:55vh;
	display: flex;
	flex-direction: column;
	width: 25%;
	opacity: 0;
	transition: all 2s;
	line-height: 23px ;
}
.section2-wrap .vue-box.vueshow{
	opacity: 1;
	top: 50vh;
}
.vue-box > h2{
	text-align: center;
    margin-bottom: 30px;
    font-size: 2vw;
	position: relative;
}
.vue-box > h2::before{
	content: '';
	position: absolute;
	width: 20%;
	top: 50%;
	right: 90%;
	border-top: solid 2px white;
}

/*section3 */
.section3{
	line-height: 23px ;
}
.sec-sticky{
	height: 100vh;
	position: sticky;
	top: 0;
	overflow: hidden;
	z-index: 99;
}
.sec3-bg{
	transform:scale(3.75);
}
.sec-sticky-flex-container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.bg{
	background-image: url('../img/screen1@3x.png');
	width: 600px;
	height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
}
.sec3-mac{
	background-image: url('../img/mac2.png');
	width: 740px;
    height: 452px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	opacity: 0;
}
.mobile-container{
	width: 100%;
	height: 100vh;
}
.sec3-pad{
	background-image: url('../img/ipad-image@2x.png');
	width: 550px;
    height: 363px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 4%;
    left: -35%;
	filter:grayscale(0);
	transition: filter 2s
	
}
.sec3-iphone{
	background-image: url('../img/phone-image@2x.png');
	width: 172px;
    height: 332px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 55%;
    right: 18%;
}
.device-fillter-show{
	filter:grayscale(100%)
}
.sec3-info{
	position: absolute;
    left: 0;
	top: 50%;
    transform: translateY(-50%);
    padding-left: 5rem;
    width: 25%;
}

.sec3-info-react,
.sec3-info-standard,
.sec3-info-responsive{
	position: absolute;
	transform: translateY(-40%);
	transition: all 2s;
	opacity: 0;
} 
.title {
	font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
	white-space: nowrap;
}
.content {
	line-height: 23px;
}

.display {
	transform: translateY(-50%);
	opacity: 1;
}

.tablet-container {
	width: 560px;
	height: 370px;
	position: absolute;
	right: 10%;
	bottom: 7%;
	transform: translateX(25%);
	opacity: 0;
	transition: all 2s;
}

.tablet-container.tablet-show{
	opacity: 1;
	transform: translateX(0);
}

.tablet-container > img {
	position: absolute;
	z-index: 1;
}
.content-img {
    width: 480px;
    height: 350px;
    margin: 1rem 2.5rem;
    z-index: 0;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}
.content-img > img {
	position: absolute;
}
.content-img > img:nth-child(2){
	top: 100%
}

/* section4 */
.section4{
	padding: 0 5rem;
	height: 100vh !important;
}
.sec4-container {
	display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
	padding-right: 10rem;
}
.contact > h1 {
	position: absolute;
	top: 0;
	left: 0;
    right: 0;
    text-align: center;
    margin: 5.5rem 0;
    font-size: 3rem;
    text-transform: uppercase;
}

.sec4-title{
	display: flex;
	flex-direction: column;
	font-size: 7rem;
	font-weight: 500;
}
.sec4-title  .rotate{
	transform-style: preserve-3d;
	perspective: 100px;
	transform: rotateX(90deg);
	transition: transform 2s;
}
.animation-title{
	display: flex;
	align-items: center;
}
.animation-title > span:first-child{
	height: 3px;
	width: 0vw;
	background-color: #fff;
	margin-right: 5rem;
	transition: width 3s;
}
.contact {
	width: 340px;
	height: 660px;
}
.animation-title > span:first-child.sec4-show2{
	width: 10vw;
}
.sec4-title  .rotate.sec4-show1 {
	transform: rotateX(0deg);
}
/* contact */
.contact{
	position: relative;
	z-index: 9;
	opacity: 0;
	transform: translateX(33%);
	transition: all 1.5s;
}

.contact.contact-show{
	opacity: 1;
	transform: translateX(0%);
}
.contact-contents{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 70%;
}
.contact__inputs{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2.5rem;
}
.contact__content {
	position: relative;
	height: 3rem;
	border-bottom: 1px solid #6d6c6c;
}
.contact__input {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    color: #FFF;;
    border: none;
    outline: none;
    z-index: 1;
}
.contact__input:focus +.contact__label {
	top: -0.75rem;
	left: 0;
	font-size: var(--smaller-font-size);
	z-index: 10;
}
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
	top: -.75rem;
	font-size: var(--smaller-font-size);
	z-index: 10;
}

.contact__label {
    position: absolute;
    top: 0.75rem;
    width: 100%;
    font-size:0.875rem;;
    color: var(--txt-color);
    transition: .3s;
}
.contact__area {
    height: 7rem;
}
.contact__area textarea {
    resize: none;
	font-family:'Noto Sans KR', sans-serif;;
}
.button{
	color: #FFF;
	border: solid 1px #6d6c6c;
	padding: 0.45rem;
}
.button:hover{
	background-color:#6d6c6c ;
}
.button__icon {
    transition: .3s;
}


@media screen and (max-width:767px){
	/* section1 */

	.section1-wrap {
		position: fixed;
		top: 20%;
		left: 5%;
		transform: translateY(-50%);
	}
	.section1-wrap > h1 {
		font-size: 4rem;
	}
	.logo{
		font-size: 1.25rem;
	}
	.iphone-content > img{
		width: 220px;
		height: 439px;
	}
	
	.introImage-wrap > div {
		width: 192px;
		height: 240px;
		background-size: contain;
		background-repeat: no-repeat;
		position: fixed;
	}
	.intro-wrap .intro-dec {
		width: 52%;
		margin-right: 0rem;
		background-color: #09090985;
	}
	.intro-wrap .intro-dec > h3 {
		font-size: 1.5rem;
	}


	/* section2 */
	.section2-wrap .sec2-main-tit h3,
	.section2-wrap .sec2-main-tit h1,
	.section2-wrap .sec2-main-tit h1 {
		font-size: 2rem;
		white-space: nowrap;
	}
	.section2-wrap .react-box {
		position: absolute;
		left: 5%;
		top: 15vh;
		display: flex;
		flex-direction: column;
		width: 40%;
		opacity: 0;
		transition: all 2s;
	}
	.section2-wrap .react-box.reactshow {
		opacity: 1;
		top: 10vh;
	}

	.section2-wrap .vue-box {
		position: absolute;
		right: 5%;
		top: 66vh;
		display: flex;
		flex-direction: column;
		width: 50%;
		opacity: 0;
		transition: all 2s;
	}
	.react-box > h2, .vue-box > h2 {
		font-size: 1.5rem;
	}
	.section2-wrap .vue-box.vueshow {
		opacity: 1;
		top: 70vh;
	}

	/* section3 */

	.bg {
		width: 303px;
		height: 201px;
	}
	.sec3-mac {
		width: 375px;
		height: 229px;
	}
	.sec3-info {
		position: absolute;
		left: 0;
		top: 20%;
		transform: translateY(-50%);
		width: 100%;
	}
	.sec3-info  div {
		left: 4%;
	}
	.tablet-container {
		width: 560px;
		height: 370px;
		position: absolute;
		bottom: 7%;
		opacity: 0;
		transition: all 2s;
		transform: scale(0.5);
	}
	.tablet-container.tablet-show {
		opacity: 1;
		transform: translateX(13%) scale(0.5);
	}
	.sec4-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100vh;
		padding-right: 0rem;
		flex-direction: column;
	}
}