
html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	scroll-behavior: smooth;
}
body {
	/* min-width: 1024px; */
	overflow-x: hidden;
	color: white;
	letter-spacing: -0.05em;
	background: #171717;
	height: 10000px;
}
/* .container{
	overflow-x: hidden;
} */
a {
	color: white;
	text-decoration: none;
}
/* header css */
header{
	position: fixed;
	width: 100%;
	top: 15px;
	z-index: 10;
}
header .global-nav{
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	font-size: 35px;
	font-weight: 900;
}
.nav ul {
	display: flex;
}
.nav ul > li {
	margin-left: 7vw;
}

/* section1 */

.section1-wrap{
	position: fixed;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
}
.section1-wrap > h1{
	font-size: 7vw;
	white-space: nowrap;
}
.section1-wrap > p {
	margin-top: 50px;
}
.section1 > p {
	position: fixed;
	left: 0;
	bottom: 10px;
}
.introImage-wrap > div{
	width: 332px;
	height: 450px;
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	/* display: none; */
}
.introImage-wrap .sec1-image1{
	top: 10%;
	right: 8%;
	/* transform: translate(50%,-50%); */
	z-index: 3;
	background-image: url('../img/movieImage.png');	
}
.introImage-wrap .sec1-image2{
	background-image: url('../img/image47.png');	
	top: 38%;
	right: 0;
	z-index: 4;

}
.introImage-wrap .sec1-image3{
	background-image: url('../img/image44.png');	
	right: 20%;
    top: 20%;
	z-index: 2;
}
.introImage-wrap .sec1-image4{
	background-image: url('../img/image45.png');	
	right: 13%;
    top: 48%;
    z-index: 3;
	
}
.iphoneImage-sticky{
	margin-top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.iphone-content{
	overflow: hidden;
	position: relative;
	display: flex;
}
.iphone-content .iphone-mock{
	z-index: 5;
}
.iphone-content > .iphone-inner-content{
	position: absolute;
	z-index: 4;
	top: 100%;
}
.intro{
	width: 100%;
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	opacity: 1;
	z-index: 8;
}

.intro-wrap{
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
	transition: all 2s;
}
.intro-wrap > h1 {
	font-size: 5vw;
}
.intro-wrap .intro-dec > p{
	margin-top: 30px;
}
.intro-wrap.intro-show{
	opacity: 1;
}
.intro-wrap > div{
	width: 20%;
}

/* section 2 */

.section2 .sec2-sticky{
	position: sticky;
	top:0%;
}
.section2-wrap {
	display: flex;
    justify-content: center;
    position: relative;
}
.section2-wrap .sec2-main-tit{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
}
.section2-wrap .sec2-main-tit *{
	margin-bottom: 10px;
}
.section2-wrap .sec2-main-tit h3{
	font-size: 1.5vw;
	color: #A1A1A1;
	opacity: 0;
}
.section2-wrap .sec2-main-tit h1{
	font-size: 2.5vw;
	opacity: 0;
}
.section2-wrap .react-box{
	position: absolute;
	left: 5%;
	top:35vh;
	display: flex;
	flex-direction: column;
	width: 25%;
	opacity: 0;
	transition: all 2s;
}
.section2-wrap .react-box.reactshow{
	opacity: 1;
	top: 30vh;
}
.react-box > h2{
	text-align: center;
    margin-bottom: 30px;
    font-size: 2vw;
	position: relative;
}
.react-box > h2::after{
	content: '';
	position: absolute;
	width: 20%;
	top: 50%;
	left:90%;
	border-top: solid 2px white;
}


.section2-wrap .vue-box{
	position: absolute;
	right: 5%;
	top:55vh;
	display: flex;
	flex-direction: column;
	width: 25%;
	opacity: 0;
	transition: all 2s;
}
.section2-wrap .vue-box.vueshow{
	opacity: 1;
	top: 50vh;
}
.vue-box > h2{
	text-align: center;
    margin-bottom: 30px;
    font-size: 2vw;
	position: relative;
}
.vue-box > h2::before{
	content: '';
	position: absolute;
	width: 20%;
	top: 50%;
	right: 90%;
	border-top: solid 2px white;
}

/*section3 */
.sec-sticky{
	height: 200vh;
	position: sticky;
	top: 0;
	overflow: hidden;
}
.sec3-bg{
	transform:scale(3);
}
.sec-sticky-flex-container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.bg{
	background-image: url('../img/screen1@3x.png');
	width: 600px;
	height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
}
.sec3-mac{
	background-image: url('../img/macbook2.png');
	width: 740px;
    height: 452px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	opacity: 0;
}
.mobile-container{
	width: 100%;
	height: 100vh;
}
.sec3-pad{
	background-image: url('../img/ipad-image@2x.png');
	width: 550px;
    height: 363px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 4%;
    left: -35%;
	filter:grayscale(0);
	transition: filter 2s
	
}
.sec3-iphone{
	background-image: url('../img/phone-image@2x.png');
	width: 172px;
    height: 332px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 55%;
    right: 18%;
}
.device-fillter-show{
	filter:grayscale(100%)
}